@keyframes slidein {
    from { 
        margin-left: 100%;
        width: 300%;
        }
    to {
        margin-left: 0%;
        width: 100%;
    }
}
header {
    background: #444343;
    color: #ffffff;
}
.about-btn .btn {
    margin: 7px 40px;
    background: rgb(18, 22, 236);
    color: #fff;
    width: 180px;
    border-radius: 2px;
}
h1 {
    animation-duration: 3s;
    animation-name: slidein;
}
.title {
    display: block;
    float: left;
    color: rgb(9, 9, 248);
    line-height: 26px;
}
.main {
    background: #f2f2f2;
}
.color1 {
    background: #344934;
    color: #ffffff;
}
aside {
    background: #36cc92 ;
    color: #ffffff;
}
footer {
    background: #e6e5e9;
    color: #ffffff;
}
.itemsMenu {
    padding: 3px 0px;
    font: bold 16px Verdana, sans-serif;
}

.itemsMenu li {
    list-style: none; 
    display: inline; 
    margin-left: 10px;
}				
.itemsMenu li a:link {
    color: #448;
}
.itemsMenu li a:hoover {
    color: #000;
    background: #AAE;
    border-color: #227;
}
.itemsMenu li a#actual {
    background: #AAE
}
.explab {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
}
